<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnpy.mapper.sqlserver.TbUserSqlServerMapper">
  <resultMap id="BaseResultMap" type="com.tnpy.domain.sqlserver.TbUserSqlServer">
    <id column="Id" jdbcType="NCHAR" property="id" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="Pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="Jurisdiction_id" jdbcType="NCHAR" property="jurisdictionId" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, UserName, Pwd, Jurisdiction_id, Remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_User
    where Id = #{id,jdbcType=NCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_User
    where Id = #{id,jdbcType=NCHAR}
  </delete>
  <insert id="insert" parameterType="com.tnpy.domain.sqlserver.TbUserSqlServer">
    insert into tb_User (Id, UserName, Pwd, 
      Jurisdiction_id, Remark)
    values (#{id,jdbcType=NCHAR}, #{username,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{jurisdictionId,jdbcType=NCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.domain.sqlserver.TbUserSqlServer">
    insert into tb_User
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="pwd != null">
        Pwd,
      </if>
      <if test="jurisdictionId != null">
        Jurisdiction_id,
      </if>
      <if test="remark != null">
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="jurisdictionId != null">
        #{jurisdictionId,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tnpy.domain.sqlserver.TbUserSqlServer">
    update tb_User
    <set>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        Pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="jurisdictionId != null">
        Jurisdiction_id = #{jurisdictionId,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=NCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tnpy.domain.sqlserver.TbUserSqlServer">
    update tb_User
    set UserName = #{username,jdbcType=VARCHAR},
      Pwd = #{pwd,jdbcType=VARCHAR},
      Jurisdiction_id = #{jurisdictionId,jdbcType=NCHAR},
      Remark = #{remark,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=NCHAR}
  </update>
</mapper>