<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnpy.dao.CityMapper">
  <resultMap id="BaseResultMap" type="com.tnpy.pojo.City">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="CHAR" property="name" />
    <result column="CountryCode" jdbcType="CHAR" property="countrycode" />
    <result column="District" jdbcType="CHAR" property="district" />
    <result column="Population" jdbcType="INTEGER" property="population" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Name, CountryCode, District, Population
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from city
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from city
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tnpy.pojo.City">
    insert into city (ID, Name, CountryCode, 
      District, Population)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{countrycode,jdbcType=CHAR}, 
      #{district,jdbcType=CHAR}, #{population,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.pojo.City">
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="countrycode != null">
        CountryCode,
      </if>
      <if test="district != null">
        District,
      </if>
      <if test="population != null">
        Population,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="countrycode != null">
        #{countrycode,jdbcType=CHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=CHAR},
      </if>
      <if test="population != null">
        #{population,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tnpy.pojo.City">
    update city
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=CHAR},
      </if>
      <if test="countrycode != null">
        CountryCode = #{countrycode,jdbcType=CHAR},
      </if>
      <if test="district != null">
        District = #{district,jdbcType=CHAR},
      </if>
      <if test="population != null">
        Population = #{population,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tnpy.pojo.City">
    update city
    set Name = #{name,jdbcType=CHAR},
      CountryCode = #{countrycode,jdbcType=CHAR},
      District = #{district,jdbcType=CHAR},
      Population = #{population,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.tnpy.pojo.City">
    <result column="city_id" jdbcType="SMALLINT" property="cityId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country_id" jdbcType="SMALLINT" property="countryId" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
  <insert id="insert" parameterType="com.tnpy.pojo.City">
    insert into city (city_id, city, country_id, 
      last_update)
    values (#{cityId,jdbcType=SMALLINT}, #{city,jdbcType=VARCHAR}, #{countryId,jdbcType=SMALLINT}, 
      #{lastUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.pojo.City">
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        city_id,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="countryId != null">
        country_id,
      </if>
      <if test="lastUpdate != null">
        last_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null">
        #{countryId,jdbcType=SMALLINT},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>