<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnpy.mes.mapper.mysql.DailyProcessProductionDetailRecordMapper">
  <resultMap id="BaseResultMap" type="com.tnpy.mes.model.mysql.DailyProcessProductionDetailRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="plantID" jdbcType="VARCHAR" property="plantid" />
    <result column="processID" jdbcType="VARCHAR" property="processid" />
    <result column="lineID" jdbcType="VARCHAR" property="lineid" />
    <result column="worklocationID" jdbcType="VARCHAR" property="worklocationid" />
    <result column="teamType" jdbcType="VARCHAR" property="teamtype" />
    <result column="classType" jdbcType="VARCHAR" property="classtype" />
    <result column="dayTime" jdbcType="VARCHAR" property="daytime" />
    <result column="attendanceNumber" jdbcType="DOUBLE" property="attendancenumber" />
    <result column="actualAttendanceNumber" jdbcType="DOUBLE" property="actualattendancenumber" />
    <result column="attendanceRatio" jdbcType="DOUBLE" property="attendanceratio" />
    <result column="machineNumber" jdbcType="DOUBLE" property="machinenumber" />
    <result column="actualMachineNumber" jdbcType="DOUBLE" property="actualmachinenumber" />
    <result column="productionMachineRatio" jdbcType="DOUBLE" property="productionmachineratio" />
    <result column="productionMaterialID" jdbcType="VARCHAR" property="productionmaterialid" />
    <result column="productionMaterialName" jdbcType="VARCHAR" property="productionmaterialname" />
    <result column="productionNumber" jdbcType="INTEGER" property="productionnumber" />
    <result column="productionTransition1" jdbcType="DOUBLE" property="productiontransition1" />
    <result column="productionTransition2" jdbcType="DOUBLE" property="productiontransition2" />
    <result column="productionTransition3" jdbcType="DOUBLE" property="productiontransition3" />
    <result column="planDailyProduction" jdbcType="INTEGER" property="plandailyproduction" />
    <result column="ratioFinish" jdbcType="DOUBLE" property="ratiofinish" />
    <result column="lastInventory" jdbcType="INTEGER" property="lastinventory" />
    <result column="currentInventory" jdbcType="INTEGER" property="currentinventory" />
    <result column="inventoryTransition1" jdbcType="DOUBLE" property="inventorytransition1" />
    <result column="inventoryTransition2" jdbcType="DOUBLE" property="inventorytransition2" />
    <result column="inventoryTransition3" jdbcType="DOUBLE" property="inventorytransition3" />
    <result column="dailyConsumeNumber" jdbcType="INTEGER" property="dailyconsumenumber" />
    <result column="periodNumber" jdbcType="DOUBLE" property="periodnumber" />
    <result column="receiveMaterialID" jdbcType="VARCHAR" property="receivematerialid" />
    <result column="receiveMaterialName" jdbcType="VARCHAR" property="receivematerialname" />
    <result column="receiveNumber" jdbcType="DOUBLE" property="receivenumber" />
    <result column="receiveMaterialNumber1" jdbcType="INTEGER" property="receivematerialnumber1" />
    <result column="receiveMaterialNumber2" jdbcType="DOUBLE" property="receivematerialnumber2" />
    <result column="receiveMaterialNumber3" jdbcType="DOUBLE" property="receivematerialnumber3" />
    <result column="reveiveType" jdbcType="VARCHAR" property="reveivetype" />
    <result column="usedMaterialID" jdbcType="VARCHAR" property="usedmaterialid" />
    <result column="usedMaterialName" jdbcType="VARCHAR" property="usedmaterialname" />
    <result column="usedNumber" jdbcType="INTEGER" property="usednumber" />
    <result column="usedNumberTransition1" jdbcType="DOUBLE" property="usednumbertransition1" />
    <result column="usedNumberTransition2" jdbcType="DOUBLE" property="usednumbertransition2" />
    <result column="scrapMaterialID" jdbcType="VARCHAR" property="scrapmaterialid" />
    <result column="scrapMaterialName" jdbcType="VARCHAR" property="scrapmaterialname" />
    <result column="scrapNumber" jdbcType="INTEGER" property="scrapnumber" />
    <result column="weightNumber" jdbcType="DOUBLE" property="weightnumber" />
    <result column="scrapNumberTransition1" jdbcType="DOUBLE" property="scrapnumbertransition1" />
    <result column="scrapNumberTransition2" jdbcType="DOUBLE" property="scrapnumbertransition2" />
    <result column="scrapNumberTransition3" jdbcType="DOUBLE" property="scrapnumbertransition3" />
    <result column="grantMaterialID" jdbcType="VARCHAR" property="grantmaterialid" />
    <result column="grantMaterialName" jdbcType="VARCHAR" property="grantmaterialname" />
    <result column="grantNumber" jdbcType="INTEGER" property="grantnumber" />
    <result column="grantNumberTransition1" jdbcType="DOUBLE" property="grantnumbertransition1" />
    <result column="grantNumberTransition2" jdbcType="DOUBLE" property="grantnumbertransition2" />
    <result column="grantNumberTransition3" jdbcType="DOUBLE" property="grantnumbertransition3" />
    <result column="extend1" jdbcType="VARCHAR" property="extend1" />
    <result column="extend2" jdbcType="VARCHAR" property="extend2" />
    <result column="extend3" jdbcType="VARCHAR" property="extend3" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plantID, processID, lineID, worklocationID, teamType, classType, dayTime, attendanceNumber, 
    actualAttendanceNumber, attendanceRatio, machineNumber, actualMachineNumber, productionMachineRatio, 
    productionMaterialID, productionMaterialName, productionNumber, productionTransition1, 
    productionTransition2, productionTransition3, planDailyProduction, ratioFinish, lastInventory, 
    currentInventory, inventoryTransition1, inventoryTransition2, inventoryTransition3, 
    dailyConsumeNumber, periodNumber, receiveMaterialID, receiveMaterialName, receiveNumber, 
    receiveMaterialNumber1, receiveMaterialNumber2, receiveMaterialNumber3, reveiveType, 
    usedMaterialID, usedMaterialName, usedNumber, usedNumberTransition1, usedNumberTransition2, 
    scrapMaterialID, scrapMaterialName, scrapNumber, weightNumber, scrapNumberTransition1, 
    scrapNumberTransition2, scrapNumberTransition3, grantMaterialID, grantMaterialName, 
    grantNumber, grantNumberTransition1, grantNumberTransition2, grantNumberTransition3, 
    extend1, extend2, extend3, remark, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_dailyprocessproductiondetailrecord
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_dailyprocessproductiondetailrecord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tnpy.mes.model.mysql.DailyProcessProductionDetailRecord">
    insert into tb_dailyprocessproductiondetailrecord (id, plantID, processID, 
      lineID, worklocationID, teamType, 
      classType, dayTime, attendanceNumber, 
      actualAttendanceNumber, attendanceRatio, 
      machineNumber, actualMachineNumber, productionMachineRatio, 
      productionMaterialID, productionMaterialName, 
      productionNumber, productionTransition1, 
      productionTransition2, productionTransition3, 
      planDailyProduction, ratioFinish, lastInventory, 
      currentInventory, inventoryTransition1, 
      inventoryTransition2, inventoryTransition3, 
      dailyConsumeNumber, periodNumber, receiveMaterialID, 
      receiveMaterialName, receiveNumber, receiveMaterialNumber1, 
      receiveMaterialNumber2, receiveMaterialNumber3, 
      reveiveType, usedMaterialID, usedMaterialName, 
      usedNumber, usedNumberTransition1, usedNumberTransition2, 
      scrapMaterialID, scrapMaterialName, scrapNumber, 
      weightNumber, scrapNumberTransition1, scrapNumberTransition2, 
      scrapNumberTransition3, grantMaterialID, 
      grantMaterialName, grantNumber, grantNumberTransition1, 
      grantNumberTransition2, grantNumberTransition3, 
      extend1, extend2, extend3, 
      remark, status)
    values (#{id,jdbcType=VARCHAR}, #{plantid,jdbcType=VARCHAR}, #{processid,jdbcType=VARCHAR}, 
      #{lineid,jdbcType=VARCHAR}, #{worklocationid,jdbcType=VARCHAR}, #{teamtype,jdbcType=VARCHAR}, 
      #{classtype,jdbcType=VARCHAR}, #{daytime,jdbcType=VARCHAR}, #{attendancenumber,jdbcType=DOUBLE}, 
      #{actualattendancenumber,jdbcType=DOUBLE}, #{attendanceratio,jdbcType=DOUBLE}, 
      #{machinenumber,jdbcType=DOUBLE}, #{actualmachinenumber,jdbcType=DOUBLE}, #{productionmachineratio,jdbcType=DOUBLE}, 
      #{productionmaterialid,jdbcType=VARCHAR}, #{productionmaterialname,jdbcType=VARCHAR}, 
      #{productionnumber,jdbcType=INTEGER}, #{productiontransition1,jdbcType=DOUBLE}, 
      #{productiontransition2,jdbcType=DOUBLE}, #{productiontransition3,jdbcType=DOUBLE}, 
      #{plandailyproduction,jdbcType=INTEGER}, #{ratiofinish,jdbcType=DOUBLE}, #{lastinventory,jdbcType=INTEGER}, 
      #{currentinventory,jdbcType=INTEGER}, #{inventorytransition1,jdbcType=DOUBLE}, 
      #{inventorytransition2,jdbcType=DOUBLE}, #{inventorytransition3,jdbcType=DOUBLE}, 
      #{dailyconsumenumber,jdbcType=INTEGER}, #{periodnumber,jdbcType=DOUBLE}, #{receivematerialid,jdbcType=VARCHAR}, 
      #{receivematerialname,jdbcType=VARCHAR}, #{receivenumber,jdbcType=DOUBLE}, #{receivematerialnumber1,jdbcType=INTEGER}, 
      #{receivematerialnumber2,jdbcType=DOUBLE}, #{receivematerialnumber3,jdbcType=DOUBLE}, 
      #{reveivetype,jdbcType=VARCHAR}, #{usedmaterialid,jdbcType=VARCHAR}, #{usedmaterialname,jdbcType=VARCHAR}, 
      #{usednumber,jdbcType=INTEGER}, #{usednumbertransition1,jdbcType=DOUBLE}, #{usednumbertransition2,jdbcType=DOUBLE}, 
      #{scrapmaterialid,jdbcType=VARCHAR}, #{scrapmaterialname,jdbcType=VARCHAR}, #{scrapnumber,jdbcType=INTEGER}, 
      #{weightnumber,jdbcType=DOUBLE}, #{scrapnumbertransition1,jdbcType=DOUBLE}, #{scrapnumbertransition2,jdbcType=DOUBLE}, 
      #{scrapnumbertransition3,jdbcType=DOUBLE}, #{grantmaterialid,jdbcType=VARCHAR}, 
      #{grantmaterialname,jdbcType=VARCHAR}, #{grantnumber,jdbcType=INTEGER}, #{grantnumbertransition1,jdbcType=DOUBLE}, 
      #{grantnumbertransition2,jdbcType=DOUBLE}, #{grantnumbertransition3,jdbcType=DOUBLE}, 
      #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.mes.model.mysql.DailyProcessProductionDetailRecord">
    insert into tb_dailyprocessproductiondetailrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="plantid != null">
        plantID,
      </if>
      <if test="processid != null">
        processID,
      </if>
      <if test="lineid != null">
        lineID,
      </if>
      <if test="worklocationid != null">
        worklocationID,
      </if>
      <if test="teamtype != null">
        teamType,
      </if>
      <if test="classtype != null">
        classType,
      </if>
      <if test="daytime != null">
        dayTime,
      </if>
      <if test="attendancenumber != null">
        attendanceNumber,
      </if>
      <if test="actualattendancenumber != null">
        actualAttendanceNumber,
      </if>
      <if test="attendanceratio != null">
        attendanceRatio,
      </if>
      <if test="machinenumber != null">
        machineNumber,
      </if>
      <if test="actualmachinenumber != null">
        actualMachineNumber,
      </if>
      <if test="productionmachineratio != null">
        productionMachineRatio,
      </if>
      <if test="productionmaterialid != null">
        productionMaterialID,
      </if>
      <if test="productionmaterialname != null">
        productionMaterialName,
      </if>
      <if test="productionnumber != null">
        productionNumber,
      </if>
      <if test="productiontransition1 != null">
        productionTransition1,
      </if>
      <if test="productiontransition2 != null">
        productionTransition2,
      </if>
      <if test="productiontransition3 != null">
        productionTransition3,
      </if>
      <if test="plandailyproduction != null">
        planDailyProduction,
      </if>
      <if test="ratiofinish != null">
        ratioFinish,
      </if>
      <if test="lastinventory != null">
        lastInventory,
      </if>
      <if test="currentinventory != null">
        currentInventory,
      </if>
      <if test="inventorytransition1 != null">
        inventoryTransition1,
      </if>
      <if test="inventorytransition2 != null">
        inventoryTransition2,
      </if>
      <if test="inventorytransition3 != null">
        inventoryTransition3,
      </if>
      <if test="dailyconsumenumber != null">
        dailyConsumeNumber,
      </if>
      <if test="periodnumber != null">
        periodNumber,
      </if>
      <if test="receivematerialid != null">
        receiveMaterialID,
      </if>
      <if test="receivematerialname != null">
        receiveMaterialName,
      </if>
      <if test="receivenumber != null">
        receiveNumber,
      </if>
      <if test="receivematerialnumber1 != null">
        receiveMaterialNumber1,
      </if>
      <if test="receivematerialnumber2 != null">
        receiveMaterialNumber2,
      </if>
      <if test="receivematerialnumber3 != null">
        receiveMaterialNumber3,
      </if>
      <if test="reveivetype != null">
        reveiveType,
      </if>
      <if test="usedmaterialid != null">
        usedMaterialID,
      </if>
      <if test="usedmaterialname != null">
        usedMaterialName,
      </if>
      <if test="usednumber != null">
        usedNumber,
      </if>
      <if test="usednumbertransition1 != null">
        usedNumberTransition1,
      </if>
      <if test="usednumbertransition2 != null">
        usedNumberTransition2,
      </if>
      <if test="scrapmaterialid != null">
        scrapMaterialID,
      </if>
      <if test="scrapmaterialname != null">
        scrapMaterialName,
      </if>
      <if test="scrapnumber != null">
        scrapNumber,
      </if>
      <if test="weightnumber != null">
        weightNumber,
      </if>
      <if test="scrapnumbertransition1 != null">
        scrapNumberTransition1,
      </if>
      <if test="scrapnumbertransition2 != null">
        scrapNumberTransition2,
      </if>
      <if test="scrapnumbertransition3 != null">
        scrapNumberTransition3,
      </if>
      <if test="grantmaterialid != null">
        grantMaterialID,
      </if>
      <if test="grantmaterialname != null">
        grantMaterialName,
      </if>
      <if test="grantnumber != null">
        grantNumber,
      </if>
      <if test="grantnumbertransition1 != null">
        grantNumberTransition1,
      </if>
      <if test="grantnumbertransition2 != null">
        grantNumberTransition2,
      </if>
      <if test="grantnumbertransition3 != null">
        grantNumberTransition3,
      </if>
      <if test="extend1 != null">
        extend1,
      </if>
      <if test="extend2 != null">
        extend2,
      </if>
      <if test="extend3 != null">
        extend3,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="plantid != null">
        #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        #{processid,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null">
        #{lineid,jdbcType=VARCHAR},
      </if>
      <if test="worklocationid != null">
        #{worklocationid,jdbcType=VARCHAR},
      </if>
      <if test="teamtype != null">
        #{teamtype,jdbcType=VARCHAR},
      </if>
      <if test="classtype != null">
        #{classtype,jdbcType=VARCHAR},
      </if>
      <if test="daytime != null">
        #{daytime,jdbcType=VARCHAR},
      </if>
      <if test="attendancenumber != null">
        #{attendancenumber,jdbcType=DOUBLE},
      </if>
      <if test="actualattendancenumber != null">
        #{actualattendancenumber,jdbcType=DOUBLE},
      </if>
      <if test="attendanceratio != null">
        #{attendanceratio,jdbcType=DOUBLE},
      </if>
      <if test="machinenumber != null">
        #{machinenumber,jdbcType=DOUBLE},
      </if>
      <if test="actualmachinenumber != null">
        #{actualmachinenumber,jdbcType=DOUBLE},
      </if>
      <if test="productionmachineratio != null">
        #{productionmachineratio,jdbcType=DOUBLE},
      </if>
      <if test="productionmaterialid != null">
        #{productionmaterialid,jdbcType=VARCHAR},
      </if>
      <if test="productionmaterialname != null">
        #{productionmaterialname,jdbcType=VARCHAR},
      </if>
      <if test="productionnumber != null">
        #{productionnumber,jdbcType=INTEGER},
      </if>
      <if test="productiontransition1 != null">
        #{productiontransition1,jdbcType=DOUBLE},
      </if>
      <if test="productiontransition2 != null">
        #{productiontransition2,jdbcType=DOUBLE},
      </if>
      <if test="productiontransition3 != null">
        #{productiontransition3,jdbcType=DOUBLE},
      </if>
      <if test="plandailyproduction != null">
        #{plandailyproduction,jdbcType=INTEGER},
      </if>
      <if test="ratiofinish != null">
        #{ratiofinish,jdbcType=DOUBLE},
      </if>
      <if test="lastinventory != null">
        #{lastinventory,jdbcType=INTEGER},
      </if>
      <if test="currentinventory != null">
        #{currentinventory,jdbcType=INTEGER},
      </if>
      <if test="inventorytransition1 != null">
        #{inventorytransition1,jdbcType=DOUBLE},
      </if>
      <if test="inventorytransition2 != null">
        #{inventorytransition2,jdbcType=DOUBLE},
      </if>
      <if test="inventorytransition3 != null">
        #{inventorytransition3,jdbcType=DOUBLE},
      </if>
      <if test="dailyconsumenumber != null">
        #{dailyconsumenumber,jdbcType=INTEGER},
      </if>
      <if test="periodnumber != null">
        #{periodnumber,jdbcType=DOUBLE},
      </if>
      <if test="receivematerialid != null">
        #{receivematerialid,jdbcType=VARCHAR},
      </if>
      <if test="receivematerialname != null">
        #{receivematerialname,jdbcType=VARCHAR},
      </if>
      <if test="receivenumber != null">
        #{receivenumber,jdbcType=DOUBLE},
      </if>
      <if test="receivematerialnumber1 != null">
        #{receivematerialnumber1,jdbcType=INTEGER},
      </if>
      <if test="receivematerialnumber2 != null">
        #{receivematerialnumber2,jdbcType=DOUBLE},
      </if>
      <if test="receivematerialnumber3 != null">
        #{receivematerialnumber3,jdbcType=DOUBLE},
      </if>
      <if test="reveivetype != null">
        #{reveivetype,jdbcType=VARCHAR},
      </if>
      <if test="usedmaterialid != null">
        #{usedmaterialid,jdbcType=VARCHAR},
      </if>
      <if test="usedmaterialname != null">
        #{usedmaterialname,jdbcType=VARCHAR},
      </if>
      <if test="usednumber != null">
        #{usednumber,jdbcType=INTEGER},
      </if>
      <if test="usednumbertransition1 != null">
        #{usednumbertransition1,jdbcType=DOUBLE},
      </if>
      <if test="usednumbertransition2 != null">
        #{usednumbertransition2,jdbcType=DOUBLE},
      </if>
      <if test="scrapmaterialid != null">
        #{scrapmaterialid,jdbcType=VARCHAR},
      </if>
      <if test="scrapmaterialname != null">
        #{scrapmaterialname,jdbcType=VARCHAR},
      </if>
      <if test="scrapnumber != null">
        #{scrapnumber,jdbcType=INTEGER},
      </if>
      <if test="weightnumber != null">
        #{weightnumber,jdbcType=DOUBLE},
      </if>
      <if test="scrapnumbertransition1 != null">
        #{scrapnumbertransition1,jdbcType=DOUBLE},
      </if>
      <if test="scrapnumbertransition2 != null">
        #{scrapnumbertransition2,jdbcType=DOUBLE},
      </if>
      <if test="scrapnumbertransition3 != null">
        #{scrapnumbertransition3,jdbcType=DOUBLE},
      </if>
      <if test="grantmaterialid != null">
        #{grantmaterialid,jdbcType=VARCHAR},
      </if>
      <if test="grantmaterialname != null">
        #{grantmaterialname,jdbcType=VARCHAR},
      </if>
      <if test="grantnumber != null">
        #{grantnumber,jdbcType=INTEGER},
      </if>
      <if test="grantnumbertransition1 != null">
        #{grantnumbertransition1,jdbcType=DOUBLE},
      </if>
      <if test="grantnumbertransition2 != null">
        #{grantnumbertransition2,jdbcType=DOUBLE},
      </if>
      <if test="grantnumbertransition3 != null">
        #{grantnumbertransition3,jdbcType=DOUBLE},
      </if>
      <if test="extend1 != null">
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tnpy.mes.model.mysql.DailyProcessProductionDetailRecord">
    update tb_dailyprocessproductiondetailrecord
    <set>
      <if test="plantid != null">
        plantID = #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        processID = #{processid,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null">
        lineID = #{lineid,jdbcType=VARCHAR},
      </if>
      <if test="worklocationid != null">
        worklocationID = #{worklocationid,jdbcType=VARCHAR},
      </if>
      <if test="teamtype != null">
        teamType = #{teamtype,jdbcType=VARCHAR},
      </if>
      <if test="classtype != null">
        classType = #{classtype,jdbcType=VARCHAR},
      </if>
      <if test="daytime != null">
        dayTime = #{daytime,jdbcType=VARCHAR},
      </if>
      <if test="attendancenumber != null">
        attendanceNumber = #{attendancenumber,jdbcType=DOUBLE},
      </if>
      <if test="actualattendancenumber != null">
        actualAttendanceNumber = #{actualattendancenumber,jdbcType=DOUBLE},
      </if>
      <if test="attendanceratio != null">
        attendanceRatio = #{attendanceratio,jdbcType=DOUBLE},
      </if>
      <if test="machinenumber != null">
        machineNumber = #{machinenumber,jdbcType=DOUBLE},
      </if>
      <if test="actualmachinenumber != null">
        actualMachineNumber = #{actualmachinenumber,jdbcType=DOUBLE},
      </if>
      <if test="productionmachineratio != null">
        productionMachineRatio = #{productionmachineratio,jdbcType=DOUBLE},
      </if>
      <if test="productionmaterialid != null">
        productionMaterialID = #{productionmaterialid,jdbcType=VARCHAR},
      </if>
      <if test="productionmaterialname != null">
        productionMaterialName = #{productionmaterialname,jdbcType=VARCHAR},
      </if>
      <if test="productionnumber != null">
        productionNumber = #{productionnumber,jdbcType=INTEGER},
      </if>
      <if test="productiontransition1 != null">
        productionTransition1 = #{productiontransition1,jdbcType=DOUBLE},
      </if>
      <if test="productiontransition2 != null">
        productionTransition2 = #{productiontransition2,jdbcType=DOUBLE},
      </if>
      <if test="productiontransition3 != null">
        productionTransition3 = #{productiontransition3,jdbcType=DOUBLE},
      </if>
      <if test="plandailyproduction != null">
        planDailyProduction = #{plandailyproduction,jdbcType=INTEGER},
      </if>
      <if test="ratiofinish != null">
        ratioFinish = #{ratiofinish,jdbcType=DOUBLE},
      </if>
      <if test="lastinventory != null">
        lastInventory = #{lastinventory,jdbcType=INTEGER},
      </if>
      <if test="currentinventory != null">
        currentInventory = #{currentinventory,jdbcType=INTEGER},
      </if>
      <if test="inventorytransition1 != null">
        inventoryTransition1 = #{inventorytransition1,jdbcType=DOUBLE},
      </if>
      <if test="inventorytransition2 != null">
        inventoryTransition2 = #{inventorytransition2,jdbcType=DOUBLE},
      </if>
      <if test="inventorytransition3 != null">
        inventoryTransition3 = #{inventorytransition3,jdbcType=DOUBLE},
      </if>
      <if test="dailyconsumenumber != null">
        dailyConsumeNumber = #{dailyconsumenumber,jdbcType=INTEGER},
      </if>
      <if test="periodnumber != null">
        periodNumber = #{periodnumber,jdbcType=DOUBLE},
      </if>
      <if test="receivematerialid != null">
        receiveMaterialID = #{receivematerialid,jdbcType=VARCHAR},
      </if>
      <if test="receivematerialname != null">
        receiveMaterialName = #{receivematerialname,jdbcType=VARCHAR},
      </if>
      <if test="receivenumber != null">
        receiveNumber = #{receivenumber,jdbcType=DOUBLE},
      </if>
      <if test="receivematerialnumber1 != null">
        receiveMaterialNumber1 = #{receivematerialnumber1,jdbcType=INTEGER},
      </if>
      <if test="receivematerialnumber2 != null">
        receiveMaterialNumber2 = #{receivematerialnumber2,jdbcType=DOUBLE},
      </if>
      <if test="receivematerialnumber3 != null">
        receiveMaterialNumber3 = #{receivematerialnumber3,jdbcType=DOUBLE},
      </if>
      <if test="reveivetype != null">
        reveiveType = #{reveivetype,jdbcType=VARCHAR},
      </if>
      <if test="usedmaterialid != null">
        usedMaterialID = #{usedmaterialid,jdbcType=VARCHAR},
      </if>
      <if test="usedmaterialname != null">
        usedMaterialName = #{usedmaterialname,jdbcType=VARCHAR},
      </if>
      <if test="usednumber != null">
        usedNumber = #{usednumber,jdbcType=INTEGER},
      </if>
      <if test="usednumbertransition1 != null">
        usedNumberTransition1 = #{usednumbertransition1,jdbcType=DOUBLE},
      </if>
      <if test="usednumbertransition2 != null">
        usedNumberTransition2 = #{usednumbertransition2,jdbcType=DOUBLE},
      </if>
      <if test="scrapmaterialid != null">
        scrapMaterialID = #{scrapmaterialid,jdbcType=VARCHAR},
      </if>
      <if test="scrapmaterialname != null">
        scrapMaterialName = #{scrapmaterialname,jdbcType=VARCHAR},
      </if>
      <if test="scrapnumber != null">
        scrapNumber = #{scrapnumber,jdbcType=INTEGER},
      </if>
      <if test="weightnumber != null">
        weightNumber = #{weightnumber,jdbcType=DOUBLE},
      </if>
      <if test="scrapnumbertransition1 != null">
        scrapNumberTransition1 = #{scrapnumbertransition1,jdbcType=DOUBLE},
      </if>
      <if test="scrapnumbertransition2 != null">
        scrapNumberTransition2 = #{scrapnumbertransition2,jdbcType=DOUBLE},
      </if>
      <if test="scrapnumbertransition3 != null">
        scrapNumberTransition3 = #{scrapnumbertransition3,jdbcType=DOUBLE},
      </if>
      <if test="grantmaterialid != null">
        grantMaterialID = #{grantmaterialid,jdbcType=VARCHAR},
      </if>
      <if test="grantmaterialname != null">
        grantMaterialName = #{grantmaterialname,jdbcType=VARCHAR},
      </if>
      <if test="grantnumber != null">
        grantNumber = #{grantnumber,jdbcType=INTEGER},
      </if>
      <if test="grantnumbertransition1 != null">
        grantNumberTransition1 = #{grantnumbertransition1,jdbcType=DOUBLE},
      </if>
      <if test="grantnumbertransition2 != null">
        grantNumberTransition2 = #{grantnumbertransition2,jdbcType=DOUBLE},
      </if>
      <if test="grantnumbertransition3 != null">
        grantNumberTransition3 = #{grantnumbertransition3,jdbcType=DOUBLE},
      </if>
      <if test="extend1 != null">
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tnpy.mes.model.mysql.DailyProcessProductionDetailRecord">
    update tb_dailyprocessproductiondetailrecord
    set plantID = #{plantid,jdbcType=VARCHAR},
      processID = #{processid,jdbcType=VARCHAR},
      lineID = #{lineid,jdbcType=VARCHAR},
      worklocationID = #{worklocationid,jdbcType=VARCHAR},
      teamType = #{teamtype,jdbcType=VARCHAR},
      classType = #{classtype,jdbcType=VARCHAR},
      dayTime = #{daytime,jdbcType=VARCHAR},
      attendanceNumber = #{attendancenumber,jdbcType=DOUBLE},
      actualAttendanceNumber = #{actualattendancenumber,jdbcType=DOUBLE},
      attendanceRatio = #{attendanceratio,jdbcType=DOUBLE},
      machineNumber = #{machinenumber,jdbcType=DOUBLE},
      actualMachineNumber = #{actualmachinenumber,jdbcType=DOUBLE},
      productionMachineRatio = #{productionmachineratio,jdbcType=DOUBLE},
      productionMaterialID = #{productionmaterialid,jdbcType=VARCHAR},
      productionMaterialName = #{productionmaterialname,jdbcType=VARCHAR},
      productionNumber = #{productionnumber,jdbcType=INTEGER},
      productionTransition1 = #{productiontransition1,jdbcType=DOUBLE},
      productionTransition2 = #{productiontransition2,jdbcType=DOUBLE},
      productionTransition3 = #{productiontransition3,jdbcType=DOUBLE},
      planDailyProduction = #{plandailyproduction,jdbcType=INTEGER},
      ratioFinish = #{ratiofinish,jdbcType=DOUBLE},
      lastInventory = #{lastinventory,jdbcType=INTEGER},
      currentInventory = #{currentinventory,jdbcType=INTEGER},
      inventoryTransition1 = #{inventorytransition1,jdbcType=DOUBLE},
      inventoryTransition2 = #{inventorytransition2,jdbcType=DOUBLE},
      inventoryTransition3 = #{inventorytransition3,jdbcType=DOUBLE},
      dailyConsumeNumber = #{dailyconsumenumber,jdbcType=INTEGER},
      periodNumber = #{periodnumber,jdbcType=DOUBLE},
      receiveMaterialID = #{receivematerialid,jdbcType=VARCHAR},
      receiveMaterialName = #{receivematerialname,jdbcType=VARCHAR},
      receiveNumber = #{receivenumber,jdbcType=DOUBLE},
      receiveMaterialNumber1 = #{receivematerialnumber1,jdbcType=INTEGER},
      receiveMaterialNumber2 = #{receivematerialnumber2,jdbcType=DOUBLE},
      receiveMaterialNumber3 = #{receivematerialnumber3,jdbcType=DOUBLE},
      reveiveType = #{reveivetype,jdbcType=VARCHAR},
      usedMaterialID = #{usedmaterialid,jdbcType=VARCHAR},
      usedMaterialName = #{usedmaterialname,jdbcType=VARCHAR},
      usedNumber = #{usednumber,jdbcType=INTEGER},
      usedNumberTransition1 = #{usednumbertransition1,jdbcType=DOUBLE},
      usedNumberTransition2 = #{usednumbertransition2,jdbcType=DOUBLE},
      scrapMaterialID = #{scrapmaterialid,jdbcType=VARCHAR},
      scrapMaterialName = #{scrapmaterialname,jdbcType=VARCHAR},
      scrapNumber = #{scrapnumber,jdbcType=INTEGER},
      weightNumber = #{weightnumber,jdbcType=DOUBLE},
      scrapNumberTransition1 = #{scrapnumbertransition1,jdbcType=DOUBLE},
      scrapNumberTransition2 = #{scrapnumbertransition2,jdbcType=DOUBLE},
      scrapNumberTransition3 = #{scrapnumbertransition3,jdbcType=DOUBLE},
      grantMaterialID = #{grantmaterialid,jdbcType=VARCHAR},
      grantMaterialName = #{grantmaterialname,jdbcType=VARCHAR},
      grantNumber = #{grantnumber,jdbcType=INTEGER},
      grantNumberTransition1 = #{grantnumbertransition1,jdbcType=DOUBLE},
      grantNumberTransition2 = #{grantnumbertransition2,jdbcType=DOUBLE},
      grantNumberTransition3 = #{grantnumbertransition3,jdbcType=DOUBLE},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>