<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnpy.mes.mapper.mysql.EquipmentParaRecordMapper">
  <resultMap id="BaseResultMap" type="com.tnpy.mes.model.mysql.EquipmentParaRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <id column="equipmentID" jdbcType="VARCHAR" property="equipmentid" />
    <id column="paramID" jdbcType="VARCHAR" property="paramid" />
    <id column="recordTime" jdbcType="TIMESTAMP" property="recordtime" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="recorder" jdbcType="VARCHAR" property="recorder" />
    <result column="equipmentTypeID" jdbcType="VARCHAR" property="equipmenttypeid" />
    <result column="pictureFile" jdbcType="VARCHAR" property="picturefile" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <resultMap id="ParamLatestRecordResultMap" type="com.tnpy.mes.model.customize.EquipParamLatestRecord">
    <result column="equipmentID" jdbcType="VARCHAR" property="equipmentID" />
    <result column="equipName" jdbcType="VARCHAR" property="equipName" />
    <result column="equipLocation" jdbcType="VARCHAR" property="equipLocation" />
    <result column="recordTime" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="recorder" jdbcType="VARCHAR" property="recorder" />
  </resultMap>

  <sql id="Base_Column_List">
    id,equipmentID, paramID, recordTime, value, recorder, equipmentTypeID, pictureFile,status
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.tnpy.mes.model.mysql.EquipmentParaRecordKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_equipmentparamrecord
    where equipmentID = #{equipmentid,jdbcType=VARCHAR}
      and paramID = #{paramid,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectLatestRecord" resultMap="ParamLatestRecordResultMap">
    select a.equipmentID as equipmentID,b.name as equipName,b.location as equipLocation , a.recordTime as recordTime,a.value as value,a.status as status,a.recorder as recorder from ( (
    select x.equipmentID,x.recordTime,x.status,x.value,x.recorder from tb_equipmentparamrecord x where x.paramID=#{paramID} and x.equipmentTypeID =#{equipType} and  recordTime =
    (select max(recordTime) from tb_equipmentparamrecord y where  y.equipmentID=x.equipmentID)
      ) as a left join tb_equipmentinfo b on a.equipmentID = b.id) where b.plantID = #{plantID} order by equipName desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.tnpy.mes.model.mysql.EquipmentParaRecordKey">
    delete from tb_equipmentparamrecord
    where equipmentID = #{equipmentid,jdbcType=VARCHAR}
      and paramID = #{paramid,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tnpy.mes.model.mysql.EquipmentParaRecord">
    insert into tb_equipmentparamrecord (id,equipmentID, paramID, recordTime,
      value, recorder, equipmentTypeID, 
      pictureFile,status)
    values (#{id,jdbcType=VARCHAR},#{equipmentid,jdbcType=VARCHAR}, #{paramid,jdbcType=VARCHAR}, #{recordtime,jdbcType=TIMESTAMP},
      #{value,jdbcType=VARCHAR}, #{recorder,jdbcType=VARCHAR}, #{equipmenttypeid,jdbcType=VARCHAR}, 
      #{picturefile,jdbcType=VARCHAR},  #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.mes.model.mysql.EquipmentParaRecord">
    insert into tb_equipmentparamrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="equipmentid != null">
        equipmentID,
      </if>
      <if test="paramid != null">
        paramID,
      </if>
      <if test="recordtime != null">
        recordTime,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="recorder != null">
        recorder,
      </if>
      <if test="equipmenttypeid != null">
        equipmentTypeID,
      </if>
      <if test="picturefile != null">
        pictureFile,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="equipmentid != null">
        #{equipmentid,jdbcType=VARCHAR},
      </if>
      <if test="paramid != null">
        #{paramid,jdbcType=VARCHAR},
      </if>
      <if test="recordtime != null">
        #{recordtime,jdbcType=TIMESTAMP},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="recorder != null">
        #{recorder,jdbcType=VARCHAR},
      </if>
      <if test="equipmenttypeid != null">
        #{equipmenttypeid,jdbcType=VARCHAR},
      </if>
      <if test="picturefile != null">
        #{picturefile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tnpy.mes.model.mysql.EquipmentParaRecord">
    update tb_equipmentparamrecord
    <set>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="recorder != null">
        recorder = #{recorder,jdbcType=VARCHAR},
      </if>
      <if test="equipmenttypeid != null">
        equipmentTypeID = #{equipmenttypeid,jdbcType=VARCHAR},
      </if>
      <if test="picturefile != null">
        pictureFile = #{picturefile,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null">
        recordTime = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where equipmentID = #{equipmentid,jdbcType=VARCHAR}
      and paramID = #{paramid,jdbcType=VARCHAR}
    and id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tnpy.mes.model.mysql.EquipmentParaRecord">
    update tb_equipmentparamrecord
    set value = #{value,jdbcType=VARCHAR},
      recorder = #{recorder,jdbcType=VARCHAR},
      equipmentTypeID = #{equipmenttypeid,jdbcType=VARCHAR},
       recordTime = #{recordtime,jdbcType=TIMESTAMP},
      pictureFile = #{picturefile,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where equipmentID = #{equipmentid,jdbcType=VARCHAR}
      and paramID = #{paramid,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>