<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnpy.mes.mapper.mysql.InterphonePatrolLocationMapper">
  <resultMap id="BaseResultMap" type="com.tnpy.mes.model.mysql.InterphonePatrolLocation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="plantID" jdbcType="VARCHAR" property="plantid" />
    <result column="processID" jdbcType="VARCHAR" property="processid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="ordinal" jdbcType="INTEGER" property="ordinal" />
    <result column="locationName" jdbcType="VARCHAR" property="locationname" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createStaff" jdbcType="VARCHAR" property="createstaff" />
    <result column="extd1" jdbcType="VARCHAR" property="extd1" />
    <result column="extd2" jdbcType="VARCHAR" property="extd2" />
    <result column="extd3" jdbcType="VARCHAR" property="extd3" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plantID, processID, status, ordinal, locationName, createTime, createStaff, extd1, 
    extd2, extd3, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_interphonepatrollocation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_interphonepatrollocation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tnpy.mes.model.mysql.InterphonePatrolLocation">
    insert into tb_interphonepatrollocation (id, plantID, processID, 
      status, ordinal, locationName, 
      createTime, createStaff, extd1, 
      extd2, extd3, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{plantid,jdbcType=VARCHAR}, #{processid,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{ordinal,jdbcType=INTEGER}, #{locationname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createstaff,jdbcType=VARCHAR}, #{extd1,jdbcType=VARCHAR}, 
      #{extd2,jdbcType=VARCHAR}, #{extd3,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.mes.model.mysql.InterphonePatrolLocation">
    insert into tb_interphonepatrollocation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="plantid != null">
        plantID,
      </if>
      <if test="processid != null">
        processID,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="ordinal != null">
        ordinal,
      </if>
      <if test="locationname != null">
        locationName,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="createstaff != null">
        createStaff,
      </if>
      <if test="extd1 != null">
        extd1,
      </if>
      <if test="extd2 != null">
        extd2,
      </if>
      <if test="extd3 != null">
        extd3,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="plantid != null">
        #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        #{processid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        #{ordinal,jdbcType=INTEGER},
      </if>
      <if test="locationname != null">
        #{locationname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaff != null">
        #{createstaff,jdbcType=VARCHAR},
      </if>
      <if test="extd1 != null">
        #{extd1,jdbcType=VARCHAR},
      </if>
      <if test="extd2 != null">
        #{extd2,jdbcType=VARCHAR},
      </if>
      <if test="extd3 != null">
        #{extd3,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tnpy.mes.model.mysql.InterphonePatrolLocation">
    update tb_interphonepatrollocation
    <set>
      <if test="plantid != null">
        plantID = #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        processID = #{processid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        ordinal = #{ordinal,jdbcType=INTEGER},
      </if>
      <if test="locationname != null">
        locationName = #{locationname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaff != null">
        createStaff = #{createstaff,jdbcType=VARCHAR},
      </if>
      <if test="extd1 != null">
        extd1 = #{extd1,jdbcType=VARCHAR},
      </if>
      <if test="extd2 != null">
        extd2 = #{extd2,jdbcType=VARCHAR},
      </if>
      <if test="extd3 != null">
        extd3 = #{extd3,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tnpy.mes.model.mysql.InterphonePatrolLocation">
    update tb_interphonepatrollocation
    set plantID = #{plantid,jdbcType=VARCHAR},
      processID = #{processid,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      ordinal = #{ordinal,jdbcType=INTEGER},
      locationName = #{locationname,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createStaff = #{createstaff,jdbcType=VARCHAR},
      extd1 = #{extd1,jdbcType=VARCHAR},
      extd2 = #{extd2,jdbcType=VARCHAR},
      extd3 = #{extd3,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>