<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnpy.mes.mapper.mysql.MaterialSecondaryInventoryRecordMapper">
  <resultMap id="BaseResultMap" type="com.tnpy.mes.model.mysql.MaterialSecondaryInventoryRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="materialID" jdbcType="VARCHAR" property="materialid" />
    <result column="plantID" jdbcType="VARCHAR" property="plantid" />
    <result column="processID" jdbcType="VARCHAR" property="processid" />
    <result column="currentNum" jdbcType="INTEGER" property="currentnum" />
    <result column="lastStorage" jdbcType="INTEGER" property="laststorage" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="gainNum" jdbcType="INTEGER" property="gainnum" />
    <result column="inNum" jdbcType="INTEGER" property="innum" />
    <result column="expendNum" jdbcType="INTEGER" property="expendnum" />
    <result column="outNum" jdbcType="INTEGER" property="outnum" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="onlineNum" jdbcType="INTEGER" property="onlinenum" />
    <result column="todayRepair" jdbcType="INTEGER" property="todayrepair" />
  </resultMap>
  <sql id="Base_Column_List">
    id, materialID, plantID, processID, currentNum, lastStorage, updateTime, gainNum, 
    inNum, expendNum, outNum, operator, status, onlineNum, todayRepair
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_materialsecondaryinventoryrecord
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_materialsecondaryinventoryrecord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tnpy.mes.model.mysql.MaterialSecondaryInventoryRecord">
    insert into tb_materialsecondaryinventoryrecord (id, materialID, plantID, 
      processID, currentNum, lastStorage, 
      updateTime, gainNum, inNum, 
      expendNum, outNum, operator, 
      status, onlineNum, todayRepair
      )
    values (#{id,jdbcType=VARCHAR}, #{materialid,jdbcType=VARCHAR}, #{plantid,jdbcType=VARCHAR}, 
      #{processid,jdbcType=VARCHAR}, #{currentnum,jdbcType=INTEGER}, #{laststorage,jdbcType=INTEGER}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{gainnum,jdbcType=INTEGER}, #{innum,jdbcType=INTEGER}, 
      #{expendnum,jdbcType=INTEGER}, #{outnum,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{onlinenum,jdbcType=INTEGER}, #{todayrepair,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.mes.model.mysql.MaterialSecondaryInventoryRecord">
    insert into tb_materialsecondaryinventoryrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="materialid != null">
        materialID,
      </if>
      <if test="plantid != null">
        plantID,
      </if>
      <if test="processid != null">
        processID,
      </if>
      <if test="currentnum != null">
        currentNum,
      </if>
      <if test="laststorage != null">
        lastStorage,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="gainnum != null">
        gainNum,
      </if>
      <if test="innum != null">
        inNum,
      </if>
      <if test="expendnum != null">
        expendNum,
      </if>
      <if test="outnum != null">
        outNum,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="onlinenum != null">
        onlineNum,
      </if>
      <if test="todayrepair != null">
        todayRepair,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="materialid != null">
        #{materialid,jdbcType=VARCHAR},
      </if>
      <if test="plantid != null">
        #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        #{processid,jdbcType=VARCHAR},
      </if>
      <if test="currentnum != null">
        #{currentnum,jdbcType=INTEGER},
      </if>
      <if test="laststorage != null">
        #{laststorage,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="gainnum != null">
        #{gainnum,jdbcType=INTEGER},
      </if>
      <if test="innum != null">
        #{innum,jdbcType=INTEGER},
      </if>
      <if test="expendnum != null">
        #{expendnum,jdbcType=INTEGER},
      </if>
      <if test="outnum != null">
        #{outnum,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="onlinenum != null">
        #{onlinenum,jdbcType=INTEGER},
      </if>
      <if test="todayrepair != null">
        #{todayrepair,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tnpy.mes.model.mysql.MaterialSecondaryInventoryRecord">
    update tb_materialsecondaryinventoryrecord
    <set>
      <if test="materialid != null">
        materialID = #{materialid,jdbcType=VARCHAR},
      </if>
      <if test="plantid != null">
        plantID = #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        processID = #{processid,jdbcType=VARCHAR},
      </if>
      <if test="currentnum != null">
        currentNum = #{currentnum,jdbcType=INTEGER},
      </if>
      <if test="laststorage != null">
        lastStorage = #{laststorage,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="gainnum != null">
        gainNum = #{gainnum,jdbcType=INTEGER},
      </if>
      <if test="innum != null">
        inNum = #{innum,jdbcType=INTEGER},
      </if>
      <if test="expendnum != null">
        expendNum = #{expendnum,jdbcType=INTEGER},
      </if>
      <if test="outnum != null">
        outNum = #{outnum,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="onlinenum != null">
        onlineNum = #{onlinenum,jdbcType=INTEGER},
      </if>
      <if test="todayrepair != null">
        todayRepair = #{todayrepair,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tnpy.mes.model.mysql.MaterialSecondaryInventoryRecord">
    update tb_materialsecondaryinventoryrecord
    set materialID = #{materialid,jdbcType=VARCHAR},
      plantID = #{plantid,jdbcType=VARCHAR},
      processID = #{processid,jdbcType=VARCHAR},
      currentNum = #{currentnum,jdbcType=INTEGER},
      lastStorage = #{laststorage,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      gainNum = #{gainnum,jdbcType=INTEGER},
      inNum = #{innum,jdbcType=INTEGER},
      expendNum = #{expendnum,jdbcType=INTEGER},
      outNum = #{outnum,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      onlineNum = #{onlinenum,jdbcType=INTEGER},
      todayRepair = #{todayrepair,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>