<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnpy.mes.mapper.mysql.PileBatteryRecordMapper">
  <resultMap id="BaseResultMap" type="com.tnpy.mes.model.mysql.PileBatteryRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="plantID" jdbcType="VARCHAR" property="plantid" />
    <result column="processID" jdbcType="VARCHAR" property="processid" />
    <result column="lineID" jdbcType="VARCHAR" property="lineid" />
    <result column="productionNumber" jdbcType="REAL" property="productionnumber" />
    <result column="materialID" jdbcType="VARCHAR" property="materialid" />
    <result column="materialName" jdbcType="VARCHAR" property="materialname" />
    <result column="pileStaffID" jdbcType="VARCHAR" property="pilestaffid" />
    <result column="pileStaffName" jdbcType="VARCHAR" property="pilestaffname" />
    <result column="pileTime" jdbcType="TIMESTAMP" property="piletime" />
    <result column="batteryDate" jdbcType="DATE" property="batterydate" />
    <result column="materialType" jdbcType="VARCHAR" property="materialtype" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="tidyRecordID" jdbcType="VARCHAR" property="tidyrecordid" />
    <result column="packageTime" jdbcType="TIMESTAMP" property="packagetime" />
    <result column="finishplantID" jdbcType="VARCHAR" property="finishplantid" />
    <result column="finishprocessID" jdbcType="VARCHAR" property="finishprocessid" />
    <result column="finishlineID" jdbcType="VARCHAR" property="finishlineid" />
    <result column="finishpileStaffID" jdbcType="VARCHAR" property="finishpilestaffid" />
    <result column="finishpileStaffName" jdbcType="VARCHAR" property="finishpilestaffname" />
    <result column="finishpileTime" jdbcType="TIMESTAMP" property="finishpiletime" />
    <result column="finishpileNum" jdbcType="REAL" property="finishpilenum" />
    <result column="fnishpackageNum" jdbcType="REAL" property="fnishpackagenum" />
    <result column="partpileID" jdbcType="VARCHAR" property="partpileid" />
    <result column="partpackageID" jdbcType="VARCHAR" property="partpackageid" />
    <result column="finishpackageplantID" jdbcType="VARCHAR" property="finishpackageplantid" />
    <result column="finishpackageprocessID" jdbcType="VARCHAR" property="finishpackageprocessid" />
    <result column="finishopackagelineID" jdbcType="VARCHAR" property="finishopackagelineid" />
    <result column="finishpackageStaffID" jdbcType="VARCHAR" property="finishpackagestaffid" />
    <result column="finishpackageStaffName" jdbcType="VARCHAR" property="finishpackagestaffname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plantID, processID, lineID, productionNumber, materialID, materialName, pileStaffID, 
    pileStaffName, pileTime, batteryDate, materialType, location, status, remark, tidyRecordID, 
    packageTime, finishplantID, finishprocessID, finishlineID, finishpileStaffID, finishpileStaffName, 
    finishpileTime, finishpileNum, fnishpackageNum, partpileID, partpackageID, finishpackageplantID, 
    finishpackageprocessID, finishopackagelineID, finishpackageStaffID, finishpackageStaffName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_pilebatteryrecord
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_pilebatteryrecord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tnpy.mes.model.mysql.PileBatteryRecord">
    insert into tb_pilebatteryrecord (id, plantID, processID, 
      lineID, productionNumber, materialID, 
      materialName, pileStaffID, pileStaffName, 
      pileTime, batteryDate, materialType, 
      location, status, remark, 
      tidyRecordID, packageTime, finishplantID, 
      finishprocessID, finishlineID, finishpileStaffID, 
      finishpileStaffName, finishpileTime, 
      finishpileNum, fnishpackageNum, partpileID, 
      partpackageID, finishpackageplantID, finishpackageprocessID, 
      finishopackagelineID, finishpackageStaffID, 
      finishpackageStaffName)
    values (#{id,jdbcType=VARCHAR}, #{plantid,jdbcType=VARCHAR}, #{processid,jdbcType=VARCHAR}, 
      #{lineid,jdbcType=VARCHAR}, #{productionnumber,jdbcType=REAL}, #{materialid,jdbcType=VARCHAR}, 
      #{materialname,jdbcType=VARCHAR}, #{pilestaffid,jdbcType=VARCHAR}, #{pilestaffname,jdbcType=VARCHAR}, 
      #{piletime,jdbcType=TIMESTAMP}, #{batterydate,jdbcType=DATE}, #{materialtype,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{tidyrecordid,jdbcType=VARCHAR}, #{packagetime,jdbcType=TIMESTAMP}, #{finishplantid,jdbcType=VARCHAR}, 
      #{finishprocessid,jdbcType=VARCHAR}, #{finishlineid,jdbcType=VARCHAR}, #{finishpilestaffid,jdbcType=VARCHAR}, 
      #{finishpilestaffname,jdbcType=VARCHAR}, #{finishpiletime,jdbcType=TIMESTAMP}, 
      #{finishpilenum,jdbcType=REAL}, #{fnishpackagenum,jdbcType=REAL}, #{partpileid,jdbcType=VARCHAR}, 
      #{partpackageid,jdbcType=VARCHAR}, #{finishpackageplantid,jdbcType=VARCHAR}, #{finishpackageprocessid,jdbcType=VARCHAR}, 
      #{finishopackagelineid,jdbcType=VARCHAR}, #{finishpackagestaffid,jdbcType=VARCHAR}, 
      #{finishpackagestaffname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.mes.model.mysql.PileBatteryRecord">
    insert into tb_pilebatteryrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="plantid != null">
        plantID,
      </if>
      <if test="processid != null">
        processID,
      </if>
      <if test="lineid != null">
        lineID,
      </if>
      <if test="productionnumber != null">
        productionNumber,
      </if>
      <if test="materialid != null">
        materialID,
      </if>
      <if test="materialname != null">
        materialName,
      </if>
      <if test="pilestaffid != null">
        pileStaffID,
      </if>
      <if test="pilestaffname != null">
        pileStaffName,
      </if>
      <if test="piletime != null">
        pileTime,
      </if>
      <if test="batterydate != null">
        batteryDate,
      </if>
      <if test="materialtype != null">
        materialType,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="tidyrecordid != null">
        tidyRecordID,
      </if>
      <if test="packagetime != null">
        packageTime,
      </if>
      <if test="finishplantid != null">
        finishplantID,
      </if>
      <if test="finishprocessid != null">
        finishprocessID,
      </if>
      <if test="finishlineid != null">
        finishlineID,
      </if>
      <if test="finishpilestaffid != null">
        finishpileStaffID,
      </if>
      <if test="finishpilestaffname != null">
        finishpileStaffName,
      </if>
      <if test="finishpiletime != null">
        finishpileTime,
      </if>
      <if test="finishpilenum != null">
        finishpileNum,
      </if>
      <if test="fnishpackagenum != null">
        fnishpackageNum,
      </if>
      <if test="partpileid != null">
        partpileID,
      </if>
      <if test="partpackageid != null">
        partpackageID,
      </if>
      <if test="finishpackageplantid != null">
        finishpackageplantID,
      </if>
      <if test="finishpackageprocessid != null">
        finishpackageprocessID,
      </if>
      <if test="finishopackagelineid != null">
        finishopackagelineID,
      </if>
      <if test="finishpackagestaffid != null">
        finishpackageStaffID,
      </if>
      <if test="finishpackagestaffname != null">
        finishpackageStaffName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="plantid != null">
        #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        #{processid,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null">
        #{lineid,jdbcType=VARCHAR},
      </if>
      <if test="productionnumber != null">
        #{productionnumber,jdbcType=REAL},
      </if>
      <if test="materialid != null">
        #{materialid,jdbcType=VARCHAR},
      </if>
      <if test="materialname != null">
        #{materialname,jdbcType=VARCHAR},
      </if>
      <if test="pilestaffid != null">
        #{pilestaffid,jdbcType=VARCHAR},
      </if>
      <if test="pilestaffname != null">
        #{pilestaffname,jdbcType=VARCHAR},
      </if>
      <if test="piletime != null">
        #{piletime,jdbcType=TIMESTAMP},
      </if>
      <if test="batterydate != null">
        #{batterydate,jdbcType=DATE},
      </if>
      <if test="materialtype != null">
        #{materialtype,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tidyrecordid != null">
        #{tidyrecordid,jdbcType=VARCHAR},
      </if>
      <if test="packagetime != null">
        #{packagetime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishplantid != null">
        #{finishplantid,jdbcType=VARCHAR},
      </if>
      <if test="finishprocessid != null">
        #{finishprocessid,jdbcType=VARCHAR},
      </if>
      <if test="finishlineid != null">
        #{finishlineid,jdbcType=VARCHAR},
      </if>
      <if test="finishpilestaffid != null">
        #{finishpilestaffid,jdbcType=VARCHAR},
      </if>
      <if test="finishpilestaffname != null">
        #{finishpilestaffname,jdbcType=VARCHAR},
      </if>
      <if test="finishpiletime != null">
        #{finishpiletime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishpilenum != null">
        #{finishpilenum,jdbcType=REAL},
      </if>
      <if test="fnishpackagenum != null">
        #{fnishpackagenum,jdbcType=REAL},
      </if>
      <if test="partpileid != null">
        #{partpileid,jdbcType=VARCHAR},
      </if>
      <if test="partpackageid != null">
        #{partpackageid,jdbcType=VARCHAR},
      </if>
      <if test="finishpackageplantid != null">
        #{finishpackageplantid,jdbcType=VARCHAR},
      </if>
      <if test="finishpackageprocessid != null">
        #{finishpackageprocessid,jdbcType=VARCHAR},
      </if>
      <if test="finishopackagelineid != null">
        #{finishopackagelineid,jdbcType=VARCHAR},
      </if>
      <if test="finishpackagestaffid != null">
        #{finishpackagestaffid,jdbcType=VARCHAR},
      </if>
      <if test="finishpackagestaffname != null">
        #{finishpackagestaffname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tnpy.mes.model.mysql.PileBatteryRecord">
    update tb_pilebatteryrecord
    <set>
      <if test="plantid != null">
        plantID = #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        processID = #{processid,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null">
        lineID = #{lineid,jdbcType=VARCHAR},
      </if>
      <if test="productionnumber != null">
        productionNumber = #{productionnumber,jdbcType=REAL},
      </if>
      <if test="materialid != null">
        materialID = #{materialid,jdbcType=VARCHAR},
      </if>
      <if test="materialname != null">
        materialName = #{materialname,jdbcType=VARCHAR},
      </if>
      <if test="pilestaffid != null">
        pileStaffID = #{pilestaffid,jdbcType=VARCHAR},
      </if>
      <if test="pilestaffname != null">
        pileStaffName = #{pilestaffname,jdbcType=VARCHAR},
      </if>
      <if test="piletime != null">
        pileTime = #{piletime,jdbcType=TIMESTAMP},
      </if>
      <if test="batterydate != null">
        batteryDate = #{batterydate,jdbcType=DATE},
      </if>
      <if test="materialtype != null">
        materialType = #{materialtype,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tidyrecordid != null">
        tidyRecordID = #{tidyrecordid,jdbcType=VARCHAR},
      </if>
      <if test="packagetime != null">
        packageTime = #{packagetime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishplantid != null">
        finishplantID = #{finishplantid,jdbcType=VARCHAR},
      </if>
      <if test="finishprocessid != null">
        finishprocessID = #{finishprocessid,jdbcType=VARCHAR},
      </if>
      <if test="finishlineid != null">
        finishlineID = #{finishlineid,jdbcType=VARCHAR},
      </if>
      <if test="finishpilestaffid != null">
        finishpileStaffID = #{finishpilestaffid,jdbcType=VARCHAR},
      </if>
      <if test="finishpilestaffname != null">
        finishpileStaffName = #{finishpilestaffname,jdbcType=VARCHAR},
      </if>
      <if test="finishpiletime != null">
        finishpileTime = #{finishpiletime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishpilenum != null">
        finishpileNum = #{finishpilenum,jdbcType=REAL},
      </if>
      <if test="fnishpackagenum != null">
        fnishpackageNum = #{fnishpackagenum,jdbcType=REAL},
      </if>
      <if test="partpileid != null">
        partpileID = #{partpileid,jdbcType=VARCHAR},
      </if>
      <if test="partpackageid != null">
        partpackageID = #{partpackageid,jdbcType=VARCHAR},
      </if>
      <if test="finishpackageplantid != null">
        finishpackageplantID = #{finishpackageplantid,jdbcType=VARCHAR},
      </if>
      <if test="finishpackageprocessid != null">
        finishpackageprocessID = #{finishpackageprocessid,jdbcType=VARCHAR},
      </if>
      <if test="finishopackagelineid != null">
        finishopackagelineID = #{finishopackagelineid,jdbcType=VARCHAR},
      </if>
      <if test="finishpackagestaffid != null">
        finishpackageStaffID = #{finishpackagestaffid,jdbcType=VARCHAR},
      </if>
      <if test="finishpackagestaffname != null">
        finishpackageStaffName = #{finishpackagestaffname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tnpy.mes.model.mysql.PileBatteryRecord">
    update tb_pilebatteryrecord
    set plantID = #{plantid,jdbcType=VARCHAR},
      processID = #{processid,jdbcType=VARCHAR},
      lineID = #{lineid,jdbcType=VARCHAR},
      productionNumber = #{productionnumber,jdbcType=REAL},
      materialID = #{materialid,jdbcType=VARCHAR},
      materialName = #{materialname,jdbcType=VARCHAR},
      pileStaffID = #{pilestaffid,jdbcType=VARCHAR},
      pileStaffName = #{pilestaffname,jdbcType=VARCHAR},
      pileTime = #{piletime,jdbcType=TIMESTAMP},
      batteryDate = #{batterydate,jdbcType=DATE},
      materialType = #{materialtype,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      tidyRecordID = #{tidyrecordid,jdbcType=VARCHAR},
      packageTime = #{packagetime,jdbcType=TIMESTAMP},
      finishplantID = #{finishplantid,jdbcType=VARCHAR},
      finishprocessID = #{finishprocessid,jdbcType=VARCHAR},
      finishlineID = #{finishlineid,jdbcType=VARCHAR},
      finishpileStaffID = #{finishpilestaffid,jdbcType=VARCHAR},
      finishpileStaffName = #{finishpilestaffname,jdbcType=VARCHAR},
      finishpileTime = #{finishpiletime,jdbcType=TIMESTAMP},
      finishpileNum = #{finishpilenum,jdbcType=REAL},
      fnishpackageNum = #{fnishpackagenum,jdbcType=REAL},
      partpileID = #{partpileid,jdbcType=VARCHAR},
      partpackageID = #{partpackageid,jdbcType=VARCHAR},
      finishpackageplantID = #{finishpackageplantid,jdbcType=VARCHAR},
      finishpackageprocessID = #{finishpackageprocessid,jdbcType=VARCHAR},
      finishopackagelineID = #{finishopackagelineid,jdbcType=VARCHAR},
      finishpackageStaffID = #{finishpackagestaffid,jdbcType=VARCHAR},
      finishpackageStaffName = #{finishpackagestaffname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>