<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnpy.mes.mapper.mysql.PlasticUsedRecordMapper">
  <resultMap id="BaseResultMap" type="com.tnpy.mes.model.mysql.PlasticUsedRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="plantID" jdbcType="VARCHAR" property="plantid" />
    <result column="lineID" jdbcType="VARCHAR" property="lineid" />
    <result column="workLocation" jdbcType="VARCHAR" property="worklocation" />
    <result column="staffID" jdbcType="VARCHAR" property="staffid" />
    <result column="staffName" jdbcType="VARCHAR" property="staffname" />
    <result column="usedTime" jdbcType="TIMESTAMP" property="usedtime" />
    <result column="JQID" jdbcType="VARCHAR" property="jqid" />
    <result column="JQStaff" jdbcType="VARCHAR" property="jqstaff" />
    <result column="JQTime" jdbcType="TIMESTAMP" property="jqtime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="usedOrderID" jdbcType="VARCHAR" property="usedorderid" />
    <result column="extend1" jdbcType="VARCHAR" property="extend1" />
    <result column="extend2" jdbcType="VARCHAR" property="extend2" />
    <result column="extend3" jdbcType="VARCHAR" property="extend3" />
    <result column="materialID" jdbcType="VARCHAR" property="materialid" />
    <result column="materialName" jdbcType="VARCHAR" property="materialname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plantID, lineID, workLocation, staffID, staffName, usedTime, JQID, JQStaff, JQTime, 
    status, usedOrderID, extend1, extend2, extend3, materialID, materialName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_plasticusedrecord
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_plasticusedrecord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tnpy.mes.model.mysql.PlasticUsedRecord">
    insert into tb_plasticusedrecord (id, plantID, lineID, 
      workLocation, staffID, staffName, 
      usedTime, JQID, JQStaff, 
      JQTime, status, usedOrderID, 
      extend1, extend2, extend3, 
      materialID, materialName)
    values (#{id,jdbcType=VARCHAR}, #{plantid,jdbcType=VARCHAR}, #{lineid,jdbcType=VARCHAR}, 
      #{worklocation,jdbcType=VARCHAR}, #{staffid,jdbcType=VARCHAR}, #{staffname,jdbcType=VARCHAR}, 
      #{usedtime,jdbcType=TIMESTAMP}, #{jqid,jdbcType=VARCHAR}, #{jqstaff,jdbcType=VARCHAR}, 
      #{jqtime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{usedorderid,jdbcType=VARCHAR}, 
      #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}, 
      #{materialid,jdbcType=VARCHAR}, #{materialname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.mes.model.mysql.PlasticUsedRecord">
    insert into tb_plasticusedrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="plantid != null">
        plantID,
      </if>
      <if test="lineid != null">
        lineID,
      </if>
      <if test="worklocation != null">
        workLocation,
      </if>
      <if test="staffid != null">
        staffID,
      </if>
      <if test="staffname != null">
        staffName,
      </if>
      <if test="usedtime != null">
        usedTime,
      </if>
      <if test="jqid != null">
        JQID,
      </if>
      <if test="jqstaff != null">
        JQStaff,
      </if>
      <if test="jqtime != null">
        JQTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="usedorderid != null">
        usedOrderID,
      </if>
      <if test="extend1 != null">
        extend1,
      </if>
      <if test="extend2 != null">
        extend2,
      </if>
      <if test="extend3 != null">
        extend3,
      </if>
      <if test="materialid != null">
        materialID,
      </if>
      <if test="materialname != null">
        materialName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="plantid != null">
        #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null">
        #{lineid,jdbcType=VARCHAR},
      </if>
      <if test="worklocation != null">
        #{worklocation,jdbcType=VARCHAR},
      </if>
      <if test="staffid != null">
        #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null">
        #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="usedtime != null">
        #{usedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="jqid != null">
        #{jqid,jdbcType=VARCHAR},
      </if>
      <if test="jqstaff != null">
        #{jqstaff,jdbcType=VARCHAR},
      </if>
      <if test="jqtime != null">
        #{jqtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="usedorderid != null">
        #{usedorderid,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="materialid != null">
        #{materialid,jdbcType=VARCHAR},
      </if>
      <if test="materialname != null">
        #{materialname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tnpy.mes.model.mysql.PlasticUsedRecord">
    update tb_plasticusedrecord
    <set>
      <if test="plantid != null">
        plantID = #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null">
        lineID = #{lineid,jdbcType=VARCHAR},
      </if>
      <if test="worklocation != null">
        workLocation = #{worklocation,jdbcType=VARCHAR},
      </if>
      <if test="staffid != null">
        staffID = #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null">
        staffName = #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="usedtime != null">
        usedTime = #{usedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="jqid != null">
        JQID = #{jqid,jdbcType=VARCHAR},
      </if>
      <if test="jqstaff != null">
        JQStaff = #{jqstaff,jdbcType=VARCHAR},
      </if>
      <if test="jqtime != null">
        JQTime = #{jqtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="usedorderid != null">
        usedOrderID = #{usedorderid,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="materialid != null">
        materialID = #{materialid,jdbcType=VARCHAR},
      </if>
      <if test="materialname != null">
        materialName = #{materialname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tnpy.mes.model.mysql.PlasticUsedRecord">
    update tb_plasticusedrecord
    set plantID = #{plantid,jdbcType=VARCHAR},
      lineID = #{lineid,jdbcType=VARCHAR},
      workLocation = #{worklocation,jdbcType=VARCHAR},
      staffID = #{staffid,jdbcType=VARCHAR},
      staffName = #{staffname,jdbcType=VARCHAR},
      usedTime = #{usedtime,jdbcType=TIMESTAMP},
      JQID = #{jqid,jdbcType=VARCHAR},
      JQStaff = #{jqstaff,jdbcType=VARCHAR},
      JQTime = #{jqtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      usedOrderID = #{usedorderid,jdbcType=VARCHAR},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR},
      materialID = #{materialid,jdbcType=VARCHAR},
      materialName = #{materialname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>