<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnpy.mes.mapper.mysql.ProductionLineMapper">
  <resultMap id="BaseResultMap" type="com.tnpy.mes.model.mysql.ProductionLine">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="processID" jdbcType="VARCHAR" property="processid" />
    <result column="plantID" jdbcType="VARCHAR" property="plantid" />
    <result column="ordinal" jdbcType="INTEGER" property="ordinal" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="shortname" jdbcType="VARCHAR" property="shortname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, processID, plantID, ordinal, description, status, shortname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_productionline
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_productionline
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tnpy.mes.model.mysql.ProductionLine">
    insert into sys_productionline (id, name, processID, 
      plantID, ordinal, description, 
      status, shortname)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{processid,jdbcType=VARCHAR}, 
      #{plantid,jdbcType=VARCHAR}, #{ordinal,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{shortname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.mes.model.mysql.ProductionLine">
    insert into sys_productionline
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="processid != null">
        processID,
      </if>
      <if test="plantid != null">
        plantID,
      </if>
      <if test="ordinal != null">
        ordinal,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="shortname != null">
        shortname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        #{processid,jdbcType=VARCHAR},
      </if>
      <if test="plantid != null">
        #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        #{ordinal,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="shortname != null">
        #{shortname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tnpy.mes.model.mysql.ProductionLine">
    update sys_productionline
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        processID = #{processid,jdbcType=VARCHAR},
      </if>
      <if test="plantid != null">
        plantID = #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        ordinal = #{ordinal,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="shortname != null">
        shortname = #{shortname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tnpy.mes.model.mysql.ProductionLine">
    update sys_productionline
    set name = #{name,jdbcType=VARCHAR},
      processID = #{processid,jdbcType=VARCHAR},
      plantID = #{plantid,jdbcType=VARCHAR},
      ordinal = #{ordinal,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      shortname = #{shortname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>