<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnpy.mes.mapper.mysql.RewardingPunishmentDetailMapper">
  <resultMap id="BaseResultMap" type="com.tnpy.mes.model.mysql.RewardingPunishmentDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="plantID" jdbcType="VARCHAR" property="plantid" />
    <result column="processID" jdbcType="VARCHAR" property="processid" />
    <result column="staffID" jdbcType="VARCHAR" property="staffid" />
    <result column="staffName" jdbcType="VARCHAR" property="staffname" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="wage" jdbcType="REAL" property="wage" />
    <result column="closingDate" jdbcType="TIMESTAMP" property="closingdate" />
    <result column="updaterID" jdbcType="VARCHAR" property="updaterid" />
    <result column="updaterName" jdbcType="VARCHAR" property="updatername" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="extd1" jdbcType="VARCHAR" property="extd1" />
    <result column="extd2" jdbcType="VARCHAR" property="extd2" />
    <result column="extd3" jdbcType="VARCHAR" property="extd3" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plantID, processID, staffID, staffName, reason, wage, closingDate, updaterID, 
    updaterName, updateTime, status, remark, extd1, extd2, extd3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_rewardingpunishmentdetail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_rewardingpunishmentdetail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tnpy.mes.model.mysql.RewardingPunishmentDetail">
    insert into tb_rewardingpunishmentdetail (id, plantID, processID, 
      staffID, staffName, reason, 
      wage, closingDate, updaterID, 
      updaterName, updateTime, status, 
      remark, extd1, extd2, 
      extd3)
    values (#{id,jdbcType=VARCHAR}, #{plantid,jdbcType=VARCHAR}, #{processid,jdbcType=VARCHAR}, 
      #{staffid,jdbcType=VARCHAR}, #{staffname,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{wage,jdbcType=REAL}, #{closingdate,jdbcType=TIMESTAMP}, #{updaterid,jdbcType=VARCHAR}, 
      #{updatername,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{extd1,jdbcType=VARCHAR}, #{extd2,jdbcType=VARCHAR}, 
      #{extd3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tnpy.mes.model.mysql.RewardingPunishmentDetail">
    insert into tb_rewardingpunishmentdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="plantid != null">
        plantID,
      </if>
      <if test="processid != null">
        processID,
      </if>
      <if test="staffid != null">
        staffID,
      </if>
      <if test="staffname != null">
        staffName,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="wage != null">
        wage,
      </if>
      <if test="closingdate != null">
        closingDate,
      </if>
      <if test="updaterid != null">
        updaterID,
      </if>
      <if test="updatername != null">
        updaterName,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="extd1 != null">
        extd1,
      </if>
      <if test="extd2 != null">
        extd2,
      </if>
      <if test="extd3 != null">
        extd3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="plantid != null">
        #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        #{processid,jdbcType=VARCHAR},
      </if>
      <if test="staffid != null">
        #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null">
        #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="wage != null">
        #{wage,jdbcType=REAL},
      </if>
      <if test="closingdate != null">
        #{closingdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterid != null">
        #{updaterid,jdbcType=VARCHAR},
      </if>
      <if test="updatername != null">
        #{updatername,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extd1 != null">
        #{extd1,jdbcType=VARCHAR},
      </if>
      <if test="extd2 != null">
        #{extd2,jdbcType=VARCHAR},
      </if>
      <if test="extd3 != null">
        #{extd3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tnpy.mes.model.mysql.RewardingPunishmentDetail">
    update tb_rewardingpunishmentdetail
    <set>
      <if test="plantid != null">
        plantID = #{plantid,jdbcType=VARCHAR},
      </if>
      <if test="processid != null">
        processID = #{processid,jdbcType=VARCHAR},
      </if>
      <if test="staffid != null">
        staffID = #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null">
        staffName = #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="wage != null">
        wage = #{wage,jdbcType=REAL},
      </if>
      <if test="closingdate != null">
        closingDate = #{closingdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterid != null">
        updaterID = #{updaterid,jdbcType=VARCHAR},
      </if>
      <if test="updatername != null">
        updaterName = #{updatername,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extd1 != null">
        extd1 = #{extd1,jdbcType=VARCHAR},
      </if>
      <if test="extd2 != null">
        extd2 = #{extd2,jdbcType=VARCHAR},
      </if>
      <if test="extd3 != null">
        extd3 = #{extd3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tnpy.mes.model.mysql.RewardingPunishmentDetail">
    update tb_rewardingpunishmentdetail
    set plantID = #{plantid,jdbcType=VARCHAR},
      processID = #{processid,jdbcType=VARCHAR},
      staffID = #{staffid,jdbcType=VARCHAR},
      staffName = #{staffname,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      wage = #{wage,jdbcType=REAL},
      closingDate = #{closingdate,jdbcType=TIMESTAMP},
      updaterID = #{updaterid,jdbcType=VARCHAR},
      updaterName = #{updatername,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      extd1 = #{extd1,jdbcType=VARCHAR},
      extd2 = #{extd2,jdbcType=VARCHAR},
      extd3 = #{extd3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>